.clearboth {
  clear: both;
}
.table-header .btn-novo {
  margin-top: 20px;
}
table.table .grid_action a {
  padding: 5px;
}
table.table .grid_action a i {
  font-size: 13px;
}
form .form-group > div {
  margin-bottom: 10px;
}
form .form-group label.control-label {
  margin-bottom: 10px;
}
form .form-group select.form-control {
  margin-bottom: 10px;
}
form .btn-actions {
  margin-right: 15px;
}
body.pg_login img.logo {
  margin: 50px 0;
}
