.clearboth {
  clear: both;
}
.table-header .btn-novo {
  margin-top: 20px;
}
table.table .grid_action a {
  padding: 5px;
}
table.table .grid_action a i {
  font-size: 13px;
}
table.table .confirmation h3 {
  font-size: 10px;
  line-height: 16px;
}
table.table .confirmation .btn-group a.btn {
  padding: 5px 12px;
}
table.table .confirmation .btn-group a.btn i {
  font-size: 10px;
}
form .form-group > div {
  margin-bottom: 10px;
}
form .form-group label.control-label {
  margin-bottom: 10px;
}
form .form-group select.form-control {
  margin-bottom: 10px;
}
form .form-group input.form-control:required,
form .form-group select.form-control:required {
  background-color: #eafcf8;
}
form .btn-actions {
  margin-right: 15px;
}
.msg-form {
  padding: 5px 10px;
  margin-top: 15px;
}
.msg-form .alert {
  margin: 0;
}
body.pg_login img.logo {
  margin: 50px 0;
}
